.nav {
  background-color: #b33c00;
}

.searchbtn {
  margin-right: 0.8em;
}

main {
  padding-top: 4em;
}

* {
  box-sizing: border-box;
}

.menu {
  padding-left: calc(20vw - 5em);
  padding-right: calc(20vw - 5em);
}

.menutitle {
  text-align: center;
}
