.nav {
  background-color: #b33c00;
}

.searchbtn {
  margin-right: 0.8em;
}

main {
  padding-top: 4em;
}

* {
  box-sizing: border-box;
}

.menu {
  padding-left: calc(20vw - 5em);
  padding-right: calc(20vw - 5em);
}

.menu h2 {
  padding-bottom: 0.25em;
  padding-top: 0.5em;
}

.menutitle {
  text-align: center;
}

.menuitem {
  padding-bottom: 20px;
}

.menutag {
  margin-right: 0.25em;
}
